h1 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: blueviolet;
text-align: center;

}
body{
    background-color: rgb(231, 244, 46);
text-align: center;}